body {
  font-family: "roboto", sans-serif;
}

.menu__nom-resto {
  font-family: "Shrikhand", sans-serif;
}

.header__logo {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 15px;
  box-shadow: 0 0 8px 0 grey;
  background: white;
}
.header__logo img {
  width: 125px;
}
.header__logo .fas {
  position: absolute;
  right: 95%;
  margin-top: 3px;
}

.index {
  animation: scroll 2s;
}

.loader {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: loader 2s;
  z-index: -5;
  background: #9356DC;
  height: 100vh;
  width: 100%;
}
.loader__icon i {
  display: flex;
  z-index: 0;
  transform: translateY(-5rem);
}
.loader img {
  z-index: 1;
}

.fa-fish {
  animation: fish 3s ease 200ms forwards;
  color: #56d1cf;
}

.fa-egg {
  animation: egg 1.6s ease-in 350ms forwards;
  color: #dec8a4;
}

.fa-bacon {
  animation: bacon 2s ease-in-out 600ms forwards;
  color: #823105;
}

.fa-pepper-hot {
  animation: piment 1.8s ease-in 1s forwards;
  color: #cc2132;
}

.fa-carrot {
  animation: carrot 2.5s ease-in 1s forwards;
  color: #f06800;
}

.baton {
  height: 5px;
  width: 30px;
  z-index: -2;
  transform: translate(25px, -4.5rem) rotate(140deg);
  background: brown;
  animation: cuillere 3s ease-in infinite;
}

@keyframes fish {
  0% {
    transform: translateY(-5rem) rotate(0deg);
  }
  100% {
    transform: translateY(6.5rem) rotate(180deg);
  }
}
@keyframes egg {
  0% {
    transform: translateY(-5.2rem) rotate(0deg);
  }
  100% {
    transform: translateY(5rem) rotate(250deg);
  }
}
@keyframes piment {
  0% {
    transform: translateY(-5rem) rotate(0deg);
  }
  100% {
    transform: translateY(4rem) rotate(100deg);
  }
}
@keyframes carrot {
  0% {
    transform: translateY(-6rem);
  }
  100% {
    transform: translateY(4rem) rotate(45deg);
  }
}
@keyframes bacon {
  0% {
    transform: translate(1px, -5.5rem);
  }
  100% {
    transform: translateY(5rem);
  }
}
@keyframes cuillere {
  0% {
    transform: translate(35px, -4.5rem) rotate(140deg) scale(1);
  }
  15% {
    transform: translate(-10px, -4.5rem) rotate(70deg) scale(0.8);
  }
  25% {
    transform: translate(-15px, -4.5rem) rotate(70deg) scale(1);
  }
  50% {
    transform: translate(-25px, -4.5rem) rotate(70deg) scale(1);
  }
}
@keyframes loader {
  0% {
    z-index: 5;
  }
  99% {
    filter: opacity(1);
    z-index: 5;
  }
  100% {
    filter: opacity(0);
  }
}
@keyframes scroll {
  0% {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  100% {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
button {
  border-radius: 20px 20px;
  border: none;
  box-shadow: 0 3px 3px #c2c2c2;
  font-size: small;
  background: whitesmoke;
  height: auto;
  font-weight: 600;
}
button:hover {
  box-shadow: 1px 1px 1px grey;
}

.btn {
  padding: 0 7%;
  margin: 5% 0;
  background: #ff79da;
  background: linear-gradient(#9356DC, #FF79DA);
  color: white;
  transform: scale(1);
  transition: transform 0.3s;
  height: 2.5rem;
}
.btn:hover {
  transform: scale(0.95);
}

section .btn {
  width: 40%;
}

.fa-heart {
  padding: 5px;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-size: 1.5rem;
  background-position: bottom;
  background: linear-gradient(to bottom, transparent 33%, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  transition: all 200ms ease-in;
  background-size: 100% 200%;
}

.fa-heart:hover {
  background-position: bottom;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke-color: transparent;
}

.fonctionnement {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}
.fonctionnement__step {
  position: absolute;
  left: -8px;
  background: #9356DC;
  color: white;
  border-radius: 100%;
  height: 15px;
  width: 15px;
  padding: 2px;
}
.fonctionnement__div {
  display: flex;
  position: relative;
}
.fonctionnement button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 3rem;
  margin: 1rem 0;
  border-radius: 10px 10px 10px 10px;
  z-index: 1;
}
.fonctionnement button .fas {
  color: grey;
  position: absolute;
  left: -23%;
}
.fonctionnement button:hover::after {
  opacity: 1;
}
.fonctionnement button:hover .fas {
  color: #9356DC;
}
.fonctionnement button::after {
  content: "";
  position: absolute;
  background-color: #d7c0f2;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  border-radius: 10px 10px 10px 10px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.restaurants {
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurants__tuiles {
  display: flex;
  position: relative;
  flex-direction: column;
  background: white;
  border-radius: 15px;
  width: 90%;
  flex: auto;
  margin: 0 0 5%;
  box-shadow: 0 3px 3px #c2c2c2;
}
.restaurants__tuiles img {
  border-radius: 15px 15px 0 0;
  height: 12.5rem;
  width: 100%;
  object-fit: cover;
}
.restaurants__nouveau {
  position: absolute;
  padding: 0.5rem;
  background: #99E2D0;
  top: 15px;
  right: 20px;
  border-radius: 5px;
}
.restaurants__legende {
  display: flex;
  flex-wrap: wrap;
  margin-inline-start: 2rem;
  justify-content: space-between;
}
.restaurants__legende h3 {
  margin-block-start: 0.5em;
  margin-block-end: 0;
  flex-basis: 95%;
}
.restaurants__legende span {
  font-weight: lighter;
  flex-basis: 95%;
  margin-bottom: 0.5rem;
}
.restaurants__legende-like {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.7rem 2rem 0 0;
}

body {
  background: whitesmoke;
}

.div-img {
  position: relative;
  z-index: -1;
}

.img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -5rem 0 2rem 0;
  background: whitesmoke;
  width: 100%;
  border-radius: 20px;
}
.menu__nom-resto {
  display: flex;
  width: 90%;
  justify-content: space-between;
  font-size: x-large;
}
.menu__div-categorie {
  width: 2.5rem;
  border-bottom: 2px solid #99E2D0;
  align-self: start;
}
.menu__categorie {
  display: flex;
  align-self: start;
  margin-block-end: 3px;
  font-weight: 300;
  font-size: large;
}

.menu-carte {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.menu-carte > .menu-btn:nth-child(2) {
  animation: defilement 1s ease 200ms forwards;
}
.menu-carte > .menu-btn:nth-child(3) {
  animation: defilement 1s ease 350ms forwards;
}
.menu-carte > .menu-btn:nth-child(4) {
  animation: defilement 1s ease 500ms forwards;
}
.menu-carte > .menu-btn:nth-child(5) {
  animation: defilement 1s ease 650ms forwards;
}
.menu-carte > .menu-btn:nth-child(6) {
  animation: defilement 1s ease 650ms forwards;
}
.menu-carte > .menu-btn:nth-child(7) {
  animation: defilement 1s ease 800ms forwards;
}
.menu-carte > .menu-btn:nth-child(8) {
  animation: defilement 1s ease 950ms forwards;
}
.menu-carte > .menu-btn:nth-child(9) {
  animation: defilement 1s ease 1000ms forwards;
}
.menu-carte > .menu-btn:nth-child(10) {
  animation: defilement 1s ease 1100ms forwards;
}
.menu-carte > .menu-btn:nth-child(11) {
  animation: defilement 1s ease 1250ms forwards;
}
.menu-carte > .menu-btn:nth-child(12) {
  animation: defilement 1s ease 1400ms forwards;
}
.menu-carte > .menu-btn:nth-child(13) {
  animation: defilement 1s ease 1500ms forwards;
}

.menu-btn {
  position: relative;
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 100%;
  height: 4.5rem;
  margin: 1em 0;
  padding: 0 1rem;
  border-radius: 10px;
  overflow: hidden;
  justify-content: space-between;
  animation: defilement 2s linear 0.5s;
  transform-origin: top;
  opacity: 0;
  text-align: start;
  box-shadow: 2px 2px 20px #c7c7c7;
}
.menu-btn__nom {
  display: block;
  width: 85%;
  margin-block-start: 0.7em;
  margin-block-end: 0.3em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-btn__description {
  display: block;
  font-size: smaller;
  font-weight: 300;
  flex-basis: 85%;
  justify-self: start;
  padding-bottom: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 95%;
}
.menu-btn__prix {
  display: flex;
  width: 5%;
  transition: all 400ms;
  text-align: end;
  white-space: nowrap;
}
.menu-btn__legende {
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: all 400ms;
  margin-bottom: 5%;
}
.menu-btn__ajout {
  display: flex;
  position: absolute;
  right: -15%;
  background: #99E2D0;
  width: 15%;
  height: 4.5rem;
  align-items: center;
  justify-content: center;
  transition: all 400ms;
}
.menu-btn__ajout .fa-check-circle {
  color: white;
  font-size: large;
  transition: all 600ms 200ms;
}
.menu-btn:hover > .menu-btn__ajout {
  transform: translateX(-100%);
}
.menu-btn:hover > .menu-btn__ajout .fa-check-circle {
  transform: rotate(360deg);
}
.menu-btn:hover > .menu-btn__prix {
  transform: translateX(-320%);
}
.menu-btn:hover > .menu-btn__legende {
  width: 80%;
}

@keyframes defilement {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
footer {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  background: #3a3d3b;
}
footer .footer__logo {
  width: 10em;
  padding: 1rem 0;
  fill: white;
  filter: invert(100%);
}
footer a {
  color: white;
  padding: 5px 0;
  font-size: smaller;
}
footer a .fa-utensils {
  margin-right: 10px;
}
footer a .fa-hands-helping {
  margin-right: 8px;
}
footer a:hover {
  color: #9356DC;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: unset;
}

.search {
  display: flex;
  justify-content: center;
  background: #eeeded;
  height: 2.5rem;
  padding: 0 1.5rem;
  box-shadow: inset 0px 4px 2px -1px #0e0e0210;
}
.search__bar {
  border: none;
  background: transparent;
}
.search__bar:focus {
  border: 1px solid #eeeded;
}
.search .fa-map-marker-alt {
  margin: 10px 15px;
  color: #393939;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: whitesmoke;
  font-size: 0.7em;
  padding: 5% 15%;
  text-align: center;
}
.presentation__txt--small {
  padding: 5px 0;
  font-size: 1.5em;
  font-weight: 100;
}

.titre {
  display: flex;
  align-self: start;
  padding: 0 5%;
}

/*# sourceMappingURL=style.css.map */
