@import "./utils/_variables.scss";
@import "./layouts/_header.scss";
@import "./components/_btn.scss";
@import "./pages/_fonctionnement.scss";
@import "./layouts/_restaurants.scss";
@import "./layouts/_footer.scss";
body
{
    margin: 0;
    font-family: "roboto", sans-serif;
}
.search
{
    display: flex;
    justify-content: center;
    background: rgb(238, 237, 237);
    height: 2.5rem;
    padding: 0 1.5rem;
    box-shadow: inset 0 3px 3px grey;
        &__bar
        {
            border: none;
            background: transparent;
        }
        .fa-map-marker-alt
        {
            margin: 10px 15px;
            color: rgb(57, 57, 57);
        }
}
.presentation
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: whitesmoke;
    font-size: .7em;
    padding: 5% 15%;
        &__txt--small
        {
            padding: 5px 0;
            font-size: 1.5em;
            font-weight: 100;
        }
}