button
{
    border-radius: 20px 20px;
    border: none;
    @include shadow;
    font-size: small;
    background: whitesmoke;
    height: auto;
    font-weight: 600;
    &:hover
    {
        box-shadow: 1px 1px 1px grey;
    }
}
.btn
{         
            padding: 0 7%;
            margin: 5% 0;
            background: rgb(255,121,218);
            background: linear-gradient($color-primary, $color-secondary);
            color: white;
            transform: scale(1);
            transition: transform .3s;
            height: 2.5rem;
            &:hover
            {
                transform: scale(.95);
            }
}
section .btn
{
    width: 40%;
}
.fa-heart
{
    padding: 5px;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-size: 1.5rem;
    background-position: bottom;
    background: linear-gradient(to bottom,transparent 33%, $color-primary, $color-secondary);
    -webkit-background-clip: text;
    background-clip: text;
    transition: all 500ms ease-in;
    background-size: 100% 200%;

}
.fa-heart:hover
{
    background-position: bottom; 
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke-color: transparent;
}