.fonctionnement
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:white;
    &__step
    {
        position: absolute;
        left:8%;
        background: $color-primary;
        color: white;
        border-radius: 100%;
        height: 15px;
        width: 15px;
        padding: 2px;
        margin-left:-10px;
    }
    &__div
    {
        display: flex;
        position: relative;
    }
    button
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 85%;
        height: 3rem;
        margin: 1rem 0;
        border-radius: 10px 10px 10px 10px;
        transition: background-color 200ms;
        .fas
        {
            color: grey;
            position: absolute;
            left: -23%;
        }
        &:hover
        {
            background-color: #decbf5;
            
                .fas
                {
                    color: $color-primary;
                }
        }
    }
}