footer
{
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    background: #3a3d3b;
    .footer__logo
    {
        width: 10em;
        padding: 1rem 0;
        fill: white;
        filter: invert(100%);
    }
    a
    {
        color: white;
        padding: 5px 0;
        font-size: smaller;
        .fa-utensils
        {
            margin-right: 10px;
        }
        .fa-hands-helping
        {
            margin-right: 8px;
        }
    }
    a:hover
    {
        color: $color-primary;
    }
}