footer
{
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    background: #3a3d3b;
    .footer__logo
    {
        width: 25%;
        padding: 1rem 0;
        fill: white;
        filter: invert(100%);
    }
    a
    {
        text-decoration: none;
        color: white;
        padding: 5px 0;
        font-size: smaller;
    }
}