.restaurants
{
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__tuiles
    {
        display: flex;
        position: relative;
        flex-direction: column;
        background: white;
        border-radius: 15px;
        width: 90%;
        flex: auto;
        margin: 0 0 5%;
        @include shadow;
        img
        {
        border-radius: 15px 15px 0  0 ;
        height: 12.5rem;
        width: 100%;
        object-fit: cover;    
        }
        
    }
    &__nouveau
        {
            position: absolute;
            padding: .5rem;
            background: $color-tertiary;
            top: 15px;
            right: 20px;
            border-radius: 5px;
        }
    &__legende
    {
        display: flex;
        flex-wrap: wrap;
        font-size: 1;
        margin-inline-start: 2rem;
        justify-content: space-between;
        h3
        {
            margin: .5rem 0;
            flex-basis: 80%;
        }
        span
        {
            font-weight: lighter;
            flex-basis: 80%;
            margin-bottom: .5rem;
        }
        &-like
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 1.5rem;
            margin-right: 1rem;
            transition: all 10s ease;
        }
    }
}