.restaurants
{
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__tuiles
    {
        display: flex;
        flex-direction: column;
        background: white;
        border-radius: 15px;
        width: 90%;
        flex: auto;
        margin: 0 0 5%;
        @include shadow;
        img
        {
        border-radius: 15px 15px 0  0 ;
        height: 12.5rem;
        width: 100%;
        object-fit: cover;    
        }
    }
    &__legende
    {
        display: flex;
        flex-wrap: wrap;
        font-size: 1;
        margin-inline-start: 2rem;
        margin: 1rem;
        h2
        {
            font-size: 1.5rem;
            margin: .5rem 0;
            flex-basis: 90%;
        }
        span
        {
            font-weight: lighter;
        }
        &-like
        {
            display: flex;
            align-items: center;
        }
    }

}